


.navLabels {
    display: inline-block;
    list-style: none;
    
}


.auto1 {
background-color: white;
   height: 6rem;
   /* navbar drop shadow */
   box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.03);
   padding-top: 4rem;
   padding-left: 5.94rem;
    
}

body {
    font-family: non-seasonal geo;
    font-size: 1.15rem;
    padding: 0;
    margin: 0;
    
}

h1 {
    font-size: 2.5rem;
}

.logo {
    display: inline-flex;
    font-size: 3.75rem;
    padding-right: 24rem;
   
}

.image {
    justify-content: left;
    align-items: center;
}
.auto2 {
    display: inline-block;
}
.label {
    display: inline-block;
    padding: 9.88rem 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    padding-top: 1.56rem;
    padding-bottom: 0.69rem;
}

.aboutMe {
    width: 49.5rem;
    padding-left: 13.5rem;
    padding-top: 4rem;
}

.rrMain {
    z-index: 100;
    width: 16.6875rem;
    height: 27.0625rem;
    
    
}
.rrContainer {
    background-color: white;
    width: 35rem;
    height: 29.5625rem;
    
    
}
.foraMain {
    z-index: 100;
    width: 21.0625rem;
    height: 28.3125rem;
    
}

.foraContainer {
    background-color: #89A9F1;
    width: 35rem;
    height: 29.5625rem;
    
    
}
.work {
    width: 49.5rem;
    padding-left: 13.5rem;
    padding-top: 4rem;
}

.workGrid {
    display: grid;
    padding-left: 13.5rem;
    padding-top: 4rem;
}

.item1 {
    grid-area: ResueRiders;
}

.item2 {
    grid-area: Fora;
}

.item3 {
    grid-area: blank;
}

.grid-container {
    display: grid;
    grid-template-columns: "RescueRiders Fora blank";
}


/* My Skills START */

.mySkills {
    width: 49.5rem;
    padding-left: 13.5rem;
    padding-top: 4rem;
   
}

.skill1 {
    background-color: lightblue;
    flex-basis: 50rem;
    padding: 3rem;
}

.skill2 {
    background-color: pink;
    flex-basis: 50rem;
    padding: 3rem;

}

.skill3 {
    background-color: pink;
    flex-basis: 50rem;
    padding: 3rem;
}


.flexContainer {
    display: flex;
    margin-bottom: 4rem;
    
   
}

.flexContainer div {
    width: 33%;
   

}

.aboutDescr {
    flex: 1;
    padding-right: 4rem;
    padding-left: 20.75rem;
}

.aboutImg {
    flex: 1;
    position: right;
    background-color: lightgray;
    max-width: 30rem;
    height: 28rem;
    padding-right: .7rem;
    
 
}

.aboutLayout {
    display: flex;
    align-items: top;
    padding: 20px;
    width: 93rem;
    
   
}



/* Footer Items */

.socContainer {
    display: inline-block;
    
}

.soc {
    display: inline-block;
    padding: 0rem .5rem;
    
}

.letsConnect {
    width: 100%;
    background-color: #1E3D62;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: .5rem;
   
}

.email {
    font-size: 2rem;
}

.emailIcon {
    scale: 60%
   
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

footer ul {
    list-style-type: none;
    display: inline-block;
    justify-content: start;
    padding: 4rem 8rem;
    
}

footer li {
    padding: .5rem;
}

.footerLogo {
    padding-top: 2rem;
}

footer {
    background-color: #1E3D62;
    color: white;
}













/* Media Queries
@media only screen and (max-width: 600){
     DESKTOP 
    #categoryGrid {
        margin: 0px 5%;
        display: grid;
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "RescueRiders Fora blank"
        "blank blank blank"
        "blank blank blank"
        ;
    }
    /*  MOBILE
    #categoryGrid {
        grid-template-rows: 300px 300px 300px 300px 300px;
        grid-template: 1fr;
        grid-template-areas:
        "RescueRiders"
        "Fora"
        "blank"
        "blank"
        "blank"
        "blank"
        "blank"
        "blank"
        "blank";
    }
}

^ Media Queries (above) ^ */